In [2]:
import camelot as cam

In [9]:
pdf = cam.read_pdf("WHO.pdf", pages='3')

In [10]:
pdf

In [11]:
pdf[0].df

                                                   0   1     2
0  Age group \n       # Cases \n           Percen...
1                                          < 5 years   2    3%
2                                        15-24 years   2    3%
3                                        25-34 years   6    8%
4                                        35-44 years  18   23%
5                                        45-54 years  14   18%
6                                        55-64 years  22   28%
7                                        65-74 years  11   14%
8                                         > 75 years   5    6%
9                                              TOTAL  88  100%